@font-face{
    font-family:"kufam";
    src: url('./assets/fonts/kufam.ttf') format('truetype');
}

@font-face{
    font-family:"notolight";
    src: url('./assets/fonts/notolight.otf') format('opentype');
}
@font-face{
    font-family:"notoregular";
    src: url('./assets/fonts/notoregular.otf') format('opentype');
}