@import './partials';
@import './mixins';
@import './fonts';

.bio{
    width:$full;
    height:$full;
    padding:2rem 0;
    display:flex;
    align-items: $middle;

    &__duration{
        padding-bottom:1rem;
        display: flex;
        justify-content: $middle;
    }

    &__headshot{
        @include card;
        background-image: url('../styles/assets/images/new.headshot.jpg');
    }
    &__heading{
        width:8rem;
        border-bottom: 1px solid black;
        &--1{
            width:6rem;
            border-bottom: 1px solid black;
        }
    }

    &__left{
        width:60%;
        @include flex-column;
        align-items: $middle;
        justify-content: $middle;
        padding:5rem 0;
        &--description{
            padding:1rem;
        }
        &--title{
            display:flex;
            align-items:flex-end;
        }
    }

    &__tech{
        height:60vmin;
        @include flex-column;
        justify-content: $middle;
        padding:1rem;
        &--icons{
            padding:1rem 0;
            display:flex;
            justify-content: space-evenly;
        }

        &--flag{
            width:15rem;
            display: flex;
            align-items: $middle;
            justify-content: space-between;
            padding: 1rem 0;
        }
    }

    &__contact{
        padding: 2rem 0;
        @include flex-column;
        &--links{
            padding:1rem 0;
            @include flex-between;
        }    
    }
}