@import './partials';
@import './mixins';
@import './fonts';

.calendar{
    width:100%;
    background-color:$bg;
    &__header{
        font-size:1.5rem;
        margin:0;
        padding:1rem; 
    }
    &__top{
        display:flex;
        align-items: $middle;
        padding:1rem;
    }
}

.react-calendar{
    font-family:$medium;
    width:30rem;
    height:30rem;
    margin:0 auto;
    border-radius: 1.5rem;

    &__tile{
        height:70px;
        border-radius: 0.5rem;
    }
    &__navigation{
        height:3rem;   
    }
    &__navigation__label{
        font-size:2rem;
        font-family:$title;
        background-color:rgba(156, 198, 238, 0.4);
         border:none;
         border-top-right-radius: 1rem;
         border-top-left-radius: 1rem;
    }
    &__navigation__arrow{
        display:none;
    }
    &__tile{
        background-color:rgba(156, 198, 238, 0.4);
        border:1px solid $lines;
    }
    &__month-view__weekdays{
        background-color:rgba(156, 198, 238, 0.4);
    }
}

abbr[title]{
    text-decoration:none;
}