@import './fonts';
@import './mixins';
@import './partials';

.footer{
    width:100%;
    height:6rem;
    background-color:$header;
    display:flex;
    align-items: $middle;
    &-title{
        color:$white;
        font-family:$title;
        margin:0;
        padding:1rem;
    }
    &-icon{
        width:2.5rem;
        height:2rem;
    }
}