@import './fonts';
@import './mixins';
@import './partials';

.footer{
    height: 6.5vmax;
    background-color:$header;
    display:flex;
    justify-content: space-between;
    align-items: $middle;
    padding:0.5rem;
    &-title{
        color:$white;
        font-family:$title;
        margin:0;
        padding:1rem;
    }
    &-icon{
        width:2.5rem;
        height:2rem;
    }
    &__link{
        text-decoration: none;
        color:$white;
        padding: 1rem 1rem 0 1rem;
    }
}