@import './partials';
@import './mixins';
@import './fonts';

.header{
    width:100%;
    height:8rem;
    background-color:$header;
    @include flex-between;
    align-items: $middle;
    &-title{
        color:$white;
        font-family:$title;
        margin:0;
        padding:1rem;
    }
    &-icon{
        width:2.5rem;
        height:2rem;
        position: relative;
        top: -26px;
        left: -20px;
    }
    &__link{
        text-decoration: none;
    }
}