@import './partials';
@import './mixins';
@import './fonts';

// transition: (property) (duration) (transition-timing-function) (transition-delay);
//animation: (animation-name) (animation-duration) 
//(animation-fill-mode) (animation-timing-function) 
//(animation-iteration-count) (animation-direction) (animation-delay);

.main{
    width: $full;
    min-height: 780px;
    background-color:$bg;
    @include flex-column;
    align-items: $middle;
    justify-content: $middle;
}

.mainNoAuth{
    width: 80%;
    height:61vmax;
    display:flex;
    align-items: $middle;
    justify-content: $middle;;
    margin: 0 auto;
    &__welcome{
        width:30rem;
        text-align: $middle;
        padding:1rem;
        animation: pulse 30s infinite;
    }
}

@keyframes pulse{
    0%{
        color:$header;
    }
    25%{
        color:blue;
    }
    50%{
        color:black;
    }
    75%{
        color:skyblue;
    }
    100%{
        color:$lines;
    }
}


// .pencil{

// }