@import './partials';
@import './mixins';
@import './fonts';

.main{
    width: 100%;
    min-height: 780px;
    background-color:$bg;
    @include flex-column;
    align-items: $middle;
    justify-content: $middle;
}

.mainNoAuth{
    width: 80%;
    min-height: 725px;
    background-color: $white;
    display:flex;
    align-items: $middle;
    justify-content: $middle;;
    margin: 0 auto;
    &__welcome{
        width:30rem;
        text-align: $middle;
        padding:1rem;
    }
}
