@import './partials';
@import './mixins';
@import './fonts';

.main{
    width: $full;
    min-height: 780px;
    background-color:$bg;
    @include flex-column;
    align-items: $middle;
    justify-content: $middle;
}

.mainNoAuth{
    width: 80%;
    height:61vmax;
    display:flex;
    align-items: $middle;
    justify-content: $middle;;
    margin: 0 auto;
    &__welcome{
        width:30rem;
        text-align: $middle;
        padding:1rem;
        animation: pulse 5s infinite;
    }
}

@keyframes pulse{
    0%{
        color:$header;
    }
    50%{
        color:black;
    }
    100%{
        color:$lines;
    }
}
