@import './_partials';
@import './_mixins';
@import './_fonts';

.note__container{
    width:100%;
    background-color:$bg;
    @include flex-column;
    padding: 4rem 0;
}

.edit__text{
    width:32rem;
}

.note{
    width:35rem;
    @include flex-column;
    justify-content: $between;
    padding:0.5rem;
    &__details{
        @include flex-between;
    }
    &__btn{
        display:flex;
        justify-content: flex-end;
        border-bottom: 1px solid $lines;
        &--1{
            background-color:$bg;
            border:none; 
        }
    }
    &__cell{
        font-family: $title;
        font-weight: bold;
        padding:0.5rem;
    }
    &__blurb{
        font-family:$medium;
        text-align: left;
        width: 55rem;
        padding:0.5rem;
    }
    &__top{
        display: flex;
        justify-content: $middle;
        padding-bottom:6rem;
        &__nav{
            padding:1rem;
            height:2rem;
        }
        &__arrow{
            width:2.5rem;
            height:2.5rem;
            padding-left: 2rem;
        }
    }
    &__bottom{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: $middle;
        &__column{
            width:40%;
            height:675px;
            overflow:scroll;
            padding:2rem;
        }
    }
}

.icon__1{
    width:1.5rem;
    height:1.5rem;
}

.icon__2{
    width:2rem;
    height:2rem;
}

.create{
    width: 30rem;
    @include flex-column;
    align-items: flex-start;
    &__header{
        font-family:$medium;
    }
    &__new{
        display:flex;
        align-items: flex-end;
        &--top{
            @include flex-column;
        }  
    }
    &__label{
        padding:0.5rem;
    }
    &__btn{
        background-color: $bg;
        border:none; 
    }
    &__input{
        width:18rem;
        border: 1px solid $lines;
        border-radius: 1.5rem;
        padding:0.5rem;
        &--search{
            width:35rem;
            border: 1px solid $lines;
            border-radius: 1.5rem;
            padding:0.5rem;

        }
    }
    &__add{
        width:19rem;
        height:14rem;
        border: 1px solid $lines;
        border-radius: 1.5rem;
        resize:none;
    }
}

.search{
    @include flex-column;
    &__form{
        display:flex;
        align-items:$middle;
    }
    &__result{
        width:340px;
        @include flex-column;
        padding:1rem 0;
    }
    &__header{
        font-family:$medium;
    }
    &__note{
        border-radius:1.5rem;
    }
}

