@import './_partials';
@import './_mixins';
@import './_fonts';

.noteTitle{
    margin:0;
    padding:2rem;
}

textarea{
    width:18rem;
    height:14rem;
    border: 1px solid navy;
    border-radius: 1.5rem;
    resize:none;
}

.notes{
    width:430px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__input{
        width:18rem;
        border: 1px solid navy;
        border-radius: 1.5rem;
    }
    &__new{
        display:flex;
        flex-direction: column;  
    }
    &__search{
        display:flex;
        flex-direction: column;
    }
    &__btn{
        background-color:#ffffff;
        border:none;
    }
    &__bottom{
        display: flex;
        justify-content: space-evenly;
        &--1{
            display: flex;
            justify-content: space-evenly; 
        }
    }
    &__header{
        font-family:$medium;
    }
}


.note2{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &__column{
        width:600px;
        height:750px;
        overflow:scroll;
    }
}


.old{
    display:flex;
    flex-direction: column;
}

.noteBox{
    width:100%;
    height:850px;
    display:flex;
    justify-content: space-around;
}

.note{
    width: 30rem;
    margin:0 auto;
    &__row{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0.5rem;
        &-btn{
            display:flex;
            justify-content: space-between;
        }
    }
    &__details{
        display:flex;
        justify-content: space-between;
    }
    &__link{
        text-decoration:none;
        color:black;
    }
}

.note__cell{
    font-family: $title;
    padding:0.5rem;
}
.note__blurb{
    font-family:$medium;
}

.icon-delete{
    width:1.5rem;
    height:1.5rem;
}
.icon-edit{
    width:1.5rem;
    height:1.5rem;
}
.icon-add{
    width:2rem;
    height:2rem;
}

.icon-search{
    width:2rem;
    height:2rem;
}