@import './_partials';
@import './_mixins';
@import './_fonts';

.noteTitle{
    margin:0;
    padding:2rem;
}

.notes{
    width:430px;
    display:flex;
    flex-direction: column;
    align-items: center;
    &__input{
        width:18rem;
        border: 1px solid $lines;
        border-radius: 1.5rem;
    }
    &__new{
        display:flex;
        align-items: flex-end;
        &--top{
            display:flex;
            flex-direction: column; 
        }  
    }
    &__search{
        display:flex;
        flex-direction: column;
    }
    &__btn{
        background-color:$bg;
        border:none;
    }
    &__bottom{
        display: flex;
        &--1{
            display: flex;
            justify-content: space-evenly; 
        }
    }
    &__header{
        font-family:$medium;
    }
}

.note2{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    &__column{
        width:80%;
        height:750px;
        overflow:scroll;
    }
}

.search{
    display:flex;
    flex-direction: column;
    &__form{
        display:flex;
        align-items:center;
    }
    &__result{
        width:340px;
        display:flex;
        flex-direction: column;
        padding:1rem 0;
    }
}

.noteBox{
    width:100%;
    background-color:$bg;
    display:flex;
    flex-direction:column;
    &__2{
        display:flex;
        flex-direction: column;
    }
}

.search__create{
    display: flex;
    justify-content: space-around;
}
.search__note{
    // border: 1px solid $lines;
    border-radius:1.5rem;
}

.note{
    width: 50rem;
    margin:0 auto;
    &__row{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0.5rem;
        &-btn{
            display:flex;
            justify-content: flex-end;
            border-bottom: 1px solid $lines;
        }
    }
    &__details{
        display:flex;
        justify-content: space-between;
    }
    &__nav{
        padding:1rem;
    }
    &__add{
        width:19rem;
        height:14rem;
        border: 1px solid $lines;
        border-radius: 1.5rem;
        resize:none;
    }
}

.note__cell{
    font-family: $title;
    font-weight: bold;
    padding:0.5rem;
}
.note__blurb{
    font-family:$medium;
    text-align: left;
    width: 40rem;
    padding:0.5rem;
}

.icon-delete{
    width:1.5rem;
    height:1.5rem;
}
.icon-edit{
    width:1.5rem;
    height:1.5rem;
}
.icon-add{
    width:2rem;
    height:2rem;
}

.icon-search{
    width:2rem;
    height:2rem;
}
.icon-back__note{
    width:2.5rem;
    height:2.5rem;
}